.fundo_insc{
    width: 100%;
    height: 120px;
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: auto;
}

input{
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: 0.20px solid rgb(173, 173, 173);
    padding-left: 15px;
    margin-left: -250px;
}

h3{
    width: 250px;
    height: 38px;
    background-color: #98B020;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    align-items: center;
    margin-left: -250px;
    padding-top: 20px;
}

h3:hover{
    background-color: #a9c424;
}

.texto{
    margin-left: 90px;
    padding-top: -90px;
}

.h2{
    margin-top: -10px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 300;
    color: rgb(81, 81, 81);
}
.p{
    margin-top: -20px;
    color: rgb(107, 107, 107);
}