.App {
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2% 0;
  justify-content: space-around;
}

.container span{
  color: #98B020;
  font-weight: bold;
  font-size: 18px;
}


